In [13]:
# Importing libraries
from sqlalchemy import create_engine
import polars as pl

# Create SQLAlchemy engine
connection_string = 'mysql+mysqlconnector://strava_db_user:StravaConnect@localhost:3306/strava_db'
engine = create_engine(connection_string, echo=True)

# Test connection to the database
try:
    with engine.connect() as conn:
        print("✅ Connected successfully!")
except Exception as e:
    print(f"❌ Connection failed: {e}")

2025-04-28 22:28:08,712 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-04-28 22:28:08,713 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-28 22:28:08,715 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-04-28 22:28:08,716 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-28 22:28:08,717 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-04-28 22:28:08,718 INFO sqlalchemy.engine.Engine [raw sql] {}
✅ Connected successfully!

In [10]:
athletes_df = pl.read_csv('strava_athlete.csv')
athletes_df = athletes_df.to_pandas()

In [14]:
# Write the DataFrame to the database
athletes_df.to_sql('athletes', con=engine, if_exists='append', index=False)

2025-04-28 22:28:11,721 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-28 22:28:11,724 INFO sqlalchemy.engine.Engine DESCRIBE `strava_db`.`athletes`
2025-04-28 22:28:11,726 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-28 22:28:11,735 INFO sqlalchemy.engine.Engine
CREATE TABLE athletes (
	id BIGINT,
	username TEXT,
	firstname TEXT,
	lastname TEXT,
	city TEXT,
	sex TEXT,
	weight FLOAT(53)
)


2025-04-28 22:28:11,736 INFO sqlalchemy.engine.Engine [no key 0.00130s] {}
2025-04-28 22:28:11,776 INFO sqlalchemy.engine.Engine INSERT INTO athletes (id, username, firstname, lastname, city, sex, weight) VALUES (%(id)s, %(username)s, %(firstname)s, %(lastname)s, %(city)s, %(sex)s, %(weight)s)
2025-04-28 22:28:11,777 INFO sqlalchemy.engine.Engine [generated in 0.00187s] {'id': 6996379, 'username': 'anish_joni', 'firstname': 'Anish', 'lastname': 'Joni', 'city': 'Toronto', 'sex': 'M', 'weight': 79.4}
2025-04-28 22:28:11,783 INFO sqlalchemy.engine.Engine COMMIT

1

In [11]:
type(athletes_df)

pandas.core.frame.DataFrame